<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutus.css" />
</head>
<body>
    <div class= "aboutus" >
        <article>
            <h>About Us</h>
            <p>
                Accounizer, the leading voice in emerging enterprise technology, is the web site that you can keep an eye on your business. 
                Accounizer provides a stable and secure account system for individual as well as small business enterprise.
                Accounizer serves those determined to seek business advantage by staying ahead of the technology curve.
            </p>
        </article>
    </div>
</body>
</html>
