<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutus.css" />
</head>
<body>
    <div class= "aboutus" >
        <article>
            <h1>About Us</h1>
            <p>
                Bajana Jukebox is a new way to enter to the massive melody and beat. This site is a combination of social media and music players which we provided you a music
                recommendation base on popularity of individual music. We produced an unique way to achieve  most fantasy recommandation with the new algorithm which developed 
                by our team members.
            </p>
            <h1>The Memmbers</h1>
            <h>Tajinder Sigh</h>
            <p>
             He is the one who developed the core song recommendation algorithm which is neural network.    
            </p>
            <h>Devesh Baja</h>
            <p>
             Backend handler.
            </p>
            <h>Patipan Suksa-nga</h>
            <p>
                Frontend designer.
            </p>
        </article>
    </div>
</body>
</html>
