<html>
<head>
	<link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/login_signup.css" />
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="images/menu.png" />
            </button>
            <div class="dropdown-content">
                <a href="#discover">Discover</a>
                <a href="#trending">Trending</a>
                <a href="dashboard.html">Dashboard</a>
                <a href="playlists.html">Playlists</a>
            </div>
        </div>

        <div class="login_signup" style="top:0;">
            <button id="login">Login</button><br />
            <button id="signup">SignUp</button>
        </div>

        <div id="login_popup">
            <div class="login-content">
                <span id="login_close">&times;</span>
                <form class="login-form">
                    <input type="text" placeholder="username" />
                    <input type="password" placeholder="password" />
                    <button>login</button>
                    <p class="message">Not registered? <a id="creacc">Create an account</a></p>
                </form>
            </div>
        </div>

        <div id="signup_popup">
            <div class="signup-content">
                <span id="signup_close">&times;</span>
                <h1 align="center">Sign Up here</h1>
                <div class="form_title">
                    <p>User ID:</p><br />
                    <p>Password:</p><br />
                    <p>Name:</p><br />
                    <p>Address:</p><br />
                    <p>Country:</p><br />
                    <p>Zipcode:</p><br />
                    <p>Email:</p><br />
                    <p>Sex:</p>
                    <p>Language:</p><br />
                    <p>About:</p>
                </div>
                <form>
                    <input type="text" name="userid" id="" required="required" pattern="[A-Za-z]{5,12}" title="User ID should be 5-12 letters only" placeholder="User ID">
                    <br /><br /><br />
                    <input type="password" name="password" id="password" pattern="[A-Za-z]{7,12}" title="Password should be 7-12 letters only" required="" placeholder="Password">
                    <br /><br /><br />
                    <input type="text" name="name" id="name" pattern="[A-Za-z]{3,10}" title="Username should be 3-10 letters only" required="" placeholder="Enter Your Name">
                    <br /><br /><br />
                    <input type="text" name="address" id="address">
                    <br /><br /><br />
                    <select name="Country" required="required">
                        <option value="usa">USA</option>
                        <option value="india">India</option>
                        <option value="uk">UK</option>
                    </select>
                    <br /><br />
                    <input type="text" name="Zipcode" id="Zipcode" required="required" pattern="[0-9]{6}" placeholder="Enter Zip Code" title="Zipcode must be of 6 digits.">
                    <br /><br /><br />
                    <input type="email" name="email" id="email" required="required">
                    <br /><br /><br />
                    <input type="radio" name="name" id="male">Male
                    <input type="radio" name="name" id="female">Female
                    <br /><br />
                    <input type="checkbox" name="english" id="" value="english">English
                    <input type="checkbox" name="nonenglish" id="" value="nonenglish">Non English
                    <br /><br />
                    <textarea rows="5" cols="30" placeholder="Tell us about yourself"></textarea>
                    <br /><br />
                    <button type="submit" value="submit">submit</button>
                </form>
            </div>
        </div>

    </header>


<article>
<p>
"Starboy"
(feat. Daft Punk)

I'm tryna put you in the worst mood, ah
P1 cleaner than your church shoes, ah
Milli point two just to hurt you, ah
All red lamb just to tease you, ah
None of these toys on lease too, ah
Made your whole year in a week too, yeah
Main bitch out of your league too, ah
Side bitch out of your league too, ah

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Every day a nigga try to test me, ah
Every day a nigga try to end me, ah
Pull off in that roadster SV, ah
Pockets over weight getting hefty, ah
Coming for the king, that's a far cry
I come alive in the fall time I
No competition, I don't really listen
I'm in the blue Mulsanne bumping New Edition

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Let a nigga brag Pitt
Legend of the fall took the year like a bandit
Bought mama a crib and a brand new wagon
Now she hit the grocery shop looking lavish
Star Trek roof in that Wraith of Khan
Girls get loose when they hear this song
Hundred on the dash get me close to God
We don't pray for love, we just pray for cars

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face
Man, I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

"Starboy"
(feat. Daft Punk)

I'm tryna put you in the worst mood, ah
P1 cleaner than your church shoes, ah
Milli point two just to hurt you, ah
All red lamb just to tease you, ah
None of these toys on lease too, ah
Made your whole year in a week too, yeah
Main bitch out of your league too, ah
Side bitch out of your league too, ah

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Every day a nigga try to test me, ah
Every day a nigga try to end me, ah
Pull off in that roadster SV, ah
Pockets over weight getting hefty, ah
Coming for the king, that's a far cry
I come alive in the fall time I
No competition, I don't really listen
I'm in the blue Mulsanne bumping New Edition

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Let a nigga brag Pitt
Legend of the fall took the year like a bandit
Bought mama a crib and a brand new wagon
Now she hit the grocery shop looking lavish
Star Trek roof in that Wraith of Khan
Girls get loose when they hear this song
Hundred on the dash get me close to God
We don't pray for love, we just pray for cars

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face
Man, I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

"Starboy"
(feat. Daft Punk)

I'm tryna put you in the worst mood, ah
P1 cleaner than your church shoes, ah
Milli point two just to hurt you, ah
All red lamb just to tease you, ah
None of these toys on lease too, ah
Made your whole year in a week too, yeah
Main bitch out of your league too, ah
Side bitch out of your league too, ah

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Every day a nigga try to test me, ah
Every day a nigga try to end me, ah
Pull off in that roadster SV, ah
Pockets over weight getting hefty, ah
Coming for the king, that's a far cry
I come alive in the fall time I
No competition, I don't really listen
I'm in the blue Mulsanne bumping New Edition

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Let a nigga brag Pitt
Legend of the fall took the year like a bandit
Bought mama a crib and a brand new wagon
Now she hit the grocery shop looking lavish
Star Trek roof in that Wraith of Khan
Girls get loose when they hear this song
Hundred on the dash get me close to God
We don't pray for love, we just pray for cars

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face
Man, I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

"Starboy"
(feat. Daft Punk)

I'm tryna put you in the worst mood, ah
P1 cleaner than your church shoes, ah
Milli point two just to hurt you, ah
All red lamb just to tease you, ah
None of these toys on lease too, ah
Made your whole year in a week too, yeah
Main bitch out of your league too, ah
Side bitch out of your league too, ah

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Every day a nigga try to test me, ah
Every day a nigga try to end me, ah
Pull off in that roadster SV, ah
Pockets over weight getting hefty, ah
Coming for the king, that's a far cry
I come alive in the fall time I
No competition, I don't really listen
I'm in the blue Mulsanne bumping New Edition

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face, man
I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Let a nigga brag Pitt
Legend of the fall took the year like a bandit
Bought mama a crib and a brand new wagon
Now she hit the grocery shop looking lavish
Star Trek roof in that Wraith of Khan
Girls get loose when they hear this song
Hundred on the dash get me close to God
We don't pray for love, we just pray for cars

House so empty, need a centerpiece
Twenty racks, a table cut from ebony
Cut that ivory into skinny pieces
Then she clean up with her face
Man, I love my baby
You talking money, need a hearing aid
You talking 'bout me, I don't see the shade
Switch up my style, I take any lane
I switch up my cup, I kill any pain

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy

Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
Look what you've done!
Ha-ha-ha-ha-ha-ha-ha-ha-ha-ha
I'm a motherfuckin' Starboy
</p>

</article>

<footer><!--Here, info of currently playing song will come-->

	<p>Here, info of currently playing song will come!</p>
	<div align="center">
		<audio controls align="center">
		  <source src="Z:\Songs_mp4\NaJa.mp4" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
	</div>
	
</footer>

</body>
</html>