<html>
<head>
	<link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/login_signup.css" />
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="images/menu.png" />
            </button>
            <div class="dropdown-content">
                <a href="#discover">Discover</a>
                <a href="#trending">Trending</a>
                <a href="dashboard.html">Dashboard</a>
                <a href="playlists.html">Playlists</a>
            </div>
        </div>

        <div class="dev-profile" align="center">
            <p id="dev_profile"></p>
        </div>

    </header>

    <div class="recommendation">
        <table>
            <tr>
                <td>
                    <figure>
                        <img src="images/song_deafult.png" alt="The Pulpit Rock" width="304" height="228">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <footer><!--Here, info of currently playing song will come-->

	    <p>Here, info of currently playing song will come!</p>
	    <div align="center">
		    <audio controls align="center">
		      <source src="Z:\Songs_mp4\NaJa.mp4" type="audio/mpeg">
		    Your browser does not support the audio element.
		    </audio>
	    </div>
	
    </footer>

</body>
</html>