<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/login_signup.css" />
    <link rel="stylesheet" type="text/css" href="css/discover.css" />
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
</head>

<body onload="set_profile_bar();">
    <header>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="images/menu.png" />
            </button>
            <div class="dropdown-content">
                <a href="home">Profile</a>
                <a href="playlists">Playlists</a>
                <a href="history">History</a>
                <a href="discover">Discover</a>
                <a href="dashboard">Dashboard</a>
                <a href="logout">Logout</a>
            </div>
        </div>

        <div class="dev-profile" align="center">
            <p id="dev_profile"></p>
        </div>
        
    </header>

    <div class="recommendation">
        <table>
            <tr>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="images/song_default.png" alt="can not load the image." width="150" height="150">
                        <figcaption>Song name</figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>

    <footer><!--Here, info of currently playing song will come-->

	    <p>Here, info of currently playing song will come!</p>
	    <div align="center">
		    <audio controls align="center">
		      <source src="Z:\Songs_mp4\NaJa.mp4" type="audio/mpeg">
		    Your browser does not support the audio element.
		    </audio>
	    </div>
	
    </footer>

</body>
</html>