<!DOCTYPE html>
<html lang="en">
<head>
  <title>Playlists</title>
  <meta charset="utf-8">
	<script src="js/home.js" type="text/javascript"></script>
	<script src="js/pluggy.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/dev_verify.js" type="text/javascript"></script>

	<link rel="stylesheet" href="css/home.css"/>
    	<link rel="stylesheet" type="text/css" href="css/login_signup.css" />
	<link rel="stylesheet" href="css/pluggy_style.css"/>
</head>

<body onload="set_profile()">
    <header>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="images/menu.png" />
            </button>
            <div class="dropdown-content">
                <a href="home">Profile</a>
                <a href="discover">Discover</a>
                <a href="dashboard">Dashboard</a>
                <a href="playlists">Playlists</a>
            </div>
        </div>

	    <img id="search" src="images/search.png" />

        <div class="search_popup">
            <div class="search-content">
                <form>
                    <input type="text" id="search_txt" />
                    <button>search</button>
                    <span id="search_close">&times;</span>
                </form>
             </div>
        </div>
	    <div class="dev-profile" align="center" >
            <p id="dev_profile"></p>
        </div>
    </header>

    <div class="user_profile">
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <footer align="center">
	    <div class="player">
            <label  class="com">COMING</label>
            <img id="tray" src="images/tray.png" />
            <label class="com"> SOON</label>
        </div>
    </footer>

    <script src="js/login_signup.js" type="text/javascript"></script>
    <script src="js/search.js" type="text/javascript"></script>
    <script src="js/player.js" type="text/javascript"></script>

</body>
</html>