<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shuffle</title>
  <meta charset="utf-8">
	<script src="js/home.js" type="text/javascript"></script>
	<script src="js/pluggy.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/dev_verify.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/home.css"/>
    
    	<link rel="stylesheet" type="text/css" href="css/login_signup.css" />
	<link rel="stylesheet" href="css/pluggy_style.css"/>
</head>

<body onload="set_profile()">
    <header>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="images/menu.png" />
            </button>
            <div class="dropdown-content">
                <a href="home">Profile</a>
                <a href="playlists">Playlists</a>
                <a href="history">History</a>
                <a href="discover">Discover</a>
                <a href="dashboard">Dashboard</a>
                <a href="logout">Logout</a>
            </div>
        </div>

	    <img id="search" src="images/search.png" />

        <div class="search_popup">
            <div class="search-content">
                <form>
                    <input type="text" id="search_txt" />
                    <button>search</button>
                    <span id="search_close">&times;</span>
                </form>
             </div>
        </div>
	    <div class="dev-profile" align="center" >
            <p id="dev_profile"></p>
        </div>
    </header>
<article>
        <h2 align="center" id="profile_header"></h2>
    <div class="user_profile">
        <table>
            <tr>
                <td>Userid</td>
                <td id="userid"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td id="name"></td>
            </tr>
            <tr>
                <td>Adderss</td>
                <td id="address"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td id="Country"></td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td id="Zipcode"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td id="email"></td>
            </tr>
            <tr>
                <td>Langauge</td>
                <td id="english"></td>
            </tr>
        </table>
    </div>
</article>
<!-- <footer align="center">
	    <div class="player">
            <label  class="com">COMING</label>
            <img id="tray" src="images/tray.png" />
            <label class="com"> SOON</label>
        </div>
    </footer>

<footer> 
        <div class="footerleft"><br/></div>
        <div class= "footermiddle" >
            <a href="aboutus">About Us.</a>
            <p>Tuktduk Ltd.</p> 
        </div>
        <div class="footerright"><br/></div>            
    </footer>
-->

    <script src="js/login_signup.js" type="text/javascript"></script>
    <script src="js/search.js" type="text/javascript"></script>
    <script src="js/player.js" type="text/javascript"></script>

</body>
</html>