<!DOCTYPE html>
<html lang="en">
<head>
  <title>Playlists</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="js/home.js" type="text/javascript"></script>
	<script src="js/main.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" type="text/css" href="css/login_signup.css" />
</head>

<body>

<header>
    <div class="dropdown">
        <button class="dropbtn">
            <img src="images/menu.png" />
        </button>
        <div class="dropdown-content">
            <a href="#discover">Discover</a>
            <a href="#trending">Trending</a>
            <a href="dashboard.html">Dashboard</a>
            <a href="#playlists">Playlists</a>
        </div>
    </div>
	
	<img id="search" src="images/search.png" />

    <div class="search_popup">
        <div class="search-content">
            <form>
                <input type="text" id="search_txt" />
                <button>search</button>
                <span id="search_close">&times;</span>
            </form>
         </div>
    </div>
	
    <div class="login_signup" style="top:0;">
        <button id="login">Login</button><br />
        <button id="signup">SignUp</button>
    </div>

    <div id="login_popup">
        <div class="login-content">
            <span id="login_close">&times;</span>
            <form class="login-form">
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a id="creacc">Create an account</a></p>
            </form>
        </div>
    </div>

    <div id="signup_popup">
        <div class="signup-content">
            <span id="signup_close">&times;</span>
            <h1 align="center">Sign Up here</h1>
            <div class="form_title">
                <p>User ID:</p><br />
                <p>Password:</p><br />
                <p>Name:</p><br />
                <p>Address:</p><br />
                <p>Country:</p><br />
                <p>Zipcode:</p><br />
                <p>Email:</p><br />
                <p>Sex:</p>
                <p>Language:</p><br />
                <p>About:</p>
            </div>
            <form>
                <input type="text" name="userid" id="" required="required" pattern="[A-Za-z]{5,12}" title="User ID should be 5-12 letters only" placeholder="User ID">
                <br /><br /><br />
                <input type="password" name="password" id="password" pattern="[A-Za-z]{7,12}" title="Password should be 7-12 letters only" required="" placeholder="Password">
                <br /><br /><br />
                <input type="text" name="name" id="name" pattern="[A-Za-z]{3,10}" title="Username should be 3-10 letters only" required="" placeholder="Enter Your Name">
                <br /><br /><br />
                <input type="text" name="address" id="address">
                <br /><br /><br />
                <select name="Country" required="required">
                    <option value="usa">USA</option>
                    <option value="india">India</option>
                    <option value="uk">UK</option>
                </select>
                <br /><br />
                <input type="text" name="Zipcode" id="Zipcode" required="required" pattern="[0-9]{6}" placeholder="Enter Zip Code" title="Zipcode must be of 6 digits.">
                <br /><br /><br />
                <input type="email" name="email" id="email" required="required">
                <br /><br /><br />
                <input type="radio" name="name" id="male">Male
                <input type="radio" name="name" id="female">Female
                <br /><br />
                <input type="checkbox" name="english" id="" value="english">English
                <input type="checkbox" name="nonenglish" id="" value="nonenglish">Non English
                <br /><br />
                <textarea rows="5" cols="30" placeholder="Tell us about yourself"></textarea>
                <br /><br />
                <button type="submit" value="submit">submit</button>
            </form>
        </div>
    </div>

</header>

<article> <!--Here, the Bootstrap table will come-->

  <h2>Default Playlist</h2>
  <p>Have you own custom mix of songs in this safe-house!</p>  
	<button type="button" onclick="loadData()" style="color: black; width: 100px;">Load Content</button>
	<br>
	<button type="button" onclick="printData()" style="color: black; width: 100px;">Display Content</button>
  <table class="table table-responsive" id="myTable">
	
  </table>
  
</article>

<footer><!--Here, info of currently playing song will come-->

	<p id="id_songName">Here, info of currently playing song will come!</p>
	<div align="center" id="div_audio">
		
	</div>
	
</footer>

	<script src="js/login_signup.js" type="text/javascript"></script>
	<script src="js/search.js" type="text/javascript"></script>

</body>
</html>
