<!DOCTYPE html>
<html>
<head>
	<title>Player</title>
	<script>
	var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
	var source = audioCtx.createBufferSource();
	
	function quickPlay()
	{
		window.location.replace("/kaam4/gaana");
	}
	
	function play()
	{
	try{
		var xhttp = new XMLHttpRequest();
		xhttp.responseType = 'arraybuffer';
		xhttp.onreadystatechange = function() {
			//alert("ready state");
			//alert(this.readyState);
			//alert("status");
			//alert(this.status);
			if (this.readyState == 4 && this.status == 200) {
				/*document.getElementById("demo").innerHTML =
				this.responseText;*/
				
				var audioData = this.response;
				audioCtx.decodeAudioData(audioData, function(buffer) {
				source.buffer = buffer;
				source.connect(audioCtx.destination);
				source.loop = true;
				},
				function(e){ console.log("Error with decoding audio data" + e.err); });	
				alert('File Buffered');
				var id_audio = document.getElementById("id_audio");
				var id_source = document.getElementById("id_src");
				id_source.src = source;
				//alert("loading audio...");
				id_audio.load();
				//alert("audio loaded");
				id_audio.play();
			}
		};
		xhttp.open("GET", "http://localhost:3000/kaam4/gaana", true);
		xhttp.withCredentials = false;
		xhttp.send();
	}
	catch(err)
	{alert(err);}
	}
	
	</script>
	
</head>
<body>
	<button type="button" onclick="quickPlay()">Quick Play</button><br><br>
	<button type="button" onclick="play()">Play Naja</button><br><br>
	<audio controls align="center" id="id_audio">
		<source src="/kaam4/gaana" type="audio/mpeg" id="id_src">
		Your browser does not support the audio element.
	</audio>
	
</body>
</html>