.recommendation {
    width:100%;
    position:absolute;
    top:12%;
    left:2%;
}

    .recommendation table tr {
        margin-top:2%;
    }
    .recommendation table td {
        margin-left: 10%;
        text-align:center;
    }

