body {
    display: inline;
    font-family: "Roboto", sans-serif;
    color: white;
    /*background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);*/
    background-color: rgb(100,100,100);
}

header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0%;
    z-index:1;
    background-color: #333;
}

.dropbtn {
    background-color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.dropbtn img{
    width:24%;
    animation:2s menu_shake infinite;
}

.dropdown {
    width:10%;
    height:10%;
    position: fixed;
    display:block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:100%;
    background-color: rgb(100,100,100);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation:1s dropdown_appear forwards;
}

    .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: black;
            animation: 1s clchange forwards;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    animation:none;
}

@keyframes dropdown_appear {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes menu_shake {
    0% {
        transform:rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.active {
    background-color: #4CAF50;
}

.search_popup {
    width: 60%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 15%;
    top: 2%;
    background-color: #333;
}

.search_popup input {
    width:80%;
    height:6%;
    font-size:175%;
    border-radius:20px;
    background-color:rgb(100,100,100);
}

.search_popup button {
    width:15%;
    height:6%;
    font-size:175%;
    border-radius:20px;
    background-color:rgb(100,100,100);
    margin-left:2%;
}

#search_close {
    position:fixed;
    top:0.5%;
    font-size:300%;
    margin-left:2%;
}

#search_close:hover,
#search_close:focus {
    text-decoration: none;
    cursor: pointer;
}

#search{
    width:2%;
    position:fixed;
    top:2%;
    right:13%;
}

#search:hover {
    animation:1s search forwards;
}

@keyframes search {
    from {
        width:2%;
    }
    to {
        width:3%;
    }
}

.user_image {
    width: 10%;
    height:10%;
    background-color: rgb(0, 150, 0);
    position: fixed;
    top: 0%;
    right: 0%;
    text-align:center;
}

    .user_image img {
        width:40%;
    }
        .user_image img:hover {
            animation: 1s user_img forwards;
        }

@keyframes user_img {
    from {
        width: 40%;
    }

    to {
        width: 50%;
    }
}

.dev-profile {
    display:none;
    width: 20%;
    top: 11%;
    right: 0%;
    height: 10%;
    position: fixed;
    text-align: center;
    color:rgb(0,150,0);
    background-color: #333;
    padding-top: 1%;
}

    .dev-profile label {
        position:relative;
        font-size: 120%;
    }

.user_profile {
    /*position:absolute;*/
    top:20%;
    left:40%;
    width: 50%;
    margin: auto;
}

article{
	margin: 10px;
	margin-top: 4%;
	margin-bottom: 100px;
	position: static;
	float: right;
	width: 97%;
	padding: 10px;
	overflow: hidden;
    /*border: 2px solid green;*/
}

.user_profile table {   
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
}

.user_profile tr {
    background-color: #333;
}

.user_profile th, td {
    border: 1px solid rgb(100,100,100);
    border-radius: 15px;
    text-align: center;
    padding: 8px;
}

.user_profile tr:hover {
    animation: 1s user_profile_hover forwards;
}

@keyframes user_profile_hover {
    from {
        background-color: #333;
    }

    to {
        background-color: green;
    }
}

#myTable{
    width:100%;
    background-color:#333;
}

    #myTable tr {
        height: 6em;
    }

    #myTable tr:hover {
        color:black;
        animation:1s rainbow_text infinite;
    }

@keyframes rainbow_text {
     0%{
         background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);

     }
    14.2% {
        background: linear-gradient(90deg, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400);
    }
    28.4% {
        background: linear-gradient(90deg, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d);
    }
    42.6% {
        background: linear-gradient(90deg, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d);
    }
    56.8% {
        background: linear-gradient(90deg, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d);
    }
    71% {
        background: linear-gradient(90deg, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840);
    }
    85.2% {
        background: linear-gradient(90deg, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8);
    }
    99.4% {
        background: linear-gradient(90deg, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
    }
}

.play_img {
    width: 15%;
}
    .play_img:hover {
        animation: 0.5s play_btn forwards;
    }

@keyframes play_btn {
    from {
        width: 15%;
    }

    to {
        width: 20%;
    }
}

footer {
    width: 100%;
    height: 10%;
    position: fixed;
    display: inline;
    font-size: 100%;
    color: white;
    bottom: 0%;
    left:0;
    padding: 14px 16px;
    overflow: hidden;
    background-color: #333;
}
audio{
margin-bottom: 9%;
}
footer img {
    width:3%;
    position: relative;
    color: white;
    -webkit-animation:10s tray_rotate infinite;
    }

.com {
    display:none;
}

@-webkit-keyframes tray_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

